/* basic styles */

* {
	box-sizing: border-box;
}
html {
    font-size: 1em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: peachpuff;
}
/*header*/
.header {
    padding: 5px 5px 5px 5px;
    text-align: center;
    padding 10px;
    margin: 5px;
    border: 10px solid #ffa949;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    animation: pulse 10s infinite;
}
@keyframes pulse {
    0% {
        background-color: #FF1493;
    }
    20% {
        background-color: #FF8C00;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: yellow;
    }
    80% {
        background-color: #FF8C00;
    }    
    100% {
        background-color: #FF1493;
    }
}
/* FLEXBOXES */
.name {
    display: flex;
    padding: 20px;
    border: 10px solid #FFA949;
    margin: 5px;
    border-radius: 10px;
    height: 350px;
    background-image: radial-gradient(yellow, red)
}
.flex-child {
    flex: 1;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    background-image:radial-gradient(yellow, red) ;
    border:10px solid #FF1493;
}
.work {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 10px solid orchid;
    padding: 5px;
    background-image:radial-gradient(#FF8C00,#FF1493);
}
.interests {
    /*display: flex;
    flex-direction: row;*/
    border-radius: 10px;
    padding: 5px;
    background-image: radial-gradient(red, yellow);
    /*justify-content: space-around;
    flex-wrap: wrap;*/
}
.justify-image{ text-align: justify;}
.justify-image img{display:inline-block;}
.justify-image:after{content:""; display: inline-block; width: 100%; height: 0;}

.travel-1 {
    height: 300px;
    width: 250px;
}
.travel-2 {
    height: 300px;
    width: 250px;
}
.travel-3 {
    height: 300px;
    width: 250px;
}
.fun {
    border: 10px solid orchid;
}
.footer {
    width: 400px;
    padding: 5px;
    border: 2px solid #ffa949;
    margin: 30px auto 15px;
    color: #294969;
    font-size: 20px;
    text-align: center;
}

/*MEDIA QUERIES*/
@media only screen and (min-width 768px),
       only screen and (orientation: landscape)
.list {
    flex-direction: row;
    width: 38%;
    font-size: 1.5rem;
} 